{% extends 'reservations/base.html' %}
{% block title %}خانه به خانه{% endblock %}

{% block content %}
    <h1>به سایت خانه به خانه خوش آمدید</h1>
    <div class="slider">
        {% for house in houses %}
            <div class="slide">
                <img src="{{ house.image.url }}" alt="{{ house.name }}">
                <div class="slide-info">
                    <h2>{{ house.name }}</h2>
                    <p>قیمت: {{ house.price_per_day }} تومان در روز  </p>
                    <p>شهر: {{ house.city }}</p>
                    <a class="button-detail" href="{% url 'house_detail' house.pk %}">نمایش جزئیات</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="prev" onclick="plusSlides(-1)">&#10095;</button>
    <button class="next" onclick="plusSlides(1)">&#10094;</button>
    
    <h2>خانه‌های ویژه</h2>
    <div class="house-grid">
        {% for house in houses %}
            <div class="house-card">
                <img src="{{ house.image.url }}" alt="{{ house.name }}">
                <div class="house-details">
                    <a href="{% url 'house_detail' house.pk %}">
                        <p class="house-name"><strong>{{ house.name }}</strong></p>
                    </a>
                    <p class="house-price">قیمت: روزی {{ house.price_per_day }} تومان </p>
                    <p class="house-city">شهر: {{ house.city }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
