{% extends 'reservations/base.html' %}

{% block title %}House Detail{% endblock %}

{% block content %}
<main>
    <div class="center house-container">
        <div class="border-form">
            <div class="house-info">
                <h1>{{ object.name }}</h1>
                <img class="image-house" src="{{ object.image.url }}" alt="{{ object.name }}">
                <p>شهر: {{ object.city }}</p>
                <p>تعداد اتاق: {{ object.number_of_rooms }}</p>
                <p>مساحت: {{ object.area }} متر</p>
                <p>تعداد پارکینگ: {{ object.number_of_parkings }}</p>
                <p>ظرفیت: {{ object.capacity }} نفر</p>
                <p>قیمت به ازای هر روز: {{ object.price_per_day }} تومان</p>
                <p>استخر: {{ object.pool|yesno:"دارد,ندارد" }}</p>
                <p>اجاق گاز:{{ object.oven|yesno:"دارد,ندارد" }}</p>
                <p>میزبان: {{ object.user.username }}</p>
            </div>

            {% if user.is_authenticated %}
                <div class="space"></div>
                <div class="center border-form padding-form">
                    <form method="post" action="{% url 'order_house' object.pk %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_arrive_date">تاریخ شروع:</label>
                            <input type="date" name="arrive_date" id="id_arrive_date" class="input_date" required>
                        </div>
                        <div class="form-group">
                            <label for="id_exit_date">تاریخ تحویل:</label>
                            <input type="date" name="exit_date" id="id_exit_date" class="input_date" required>
                        </div>
                        <div class="form-group">
                            <label for="id_count_of_passengers">تعداد مسافر:</label>
                            <input type="number" name="count_of_passengers" id="id_count_of_passengers" placeholder="فقط عدد" required>
                        </div>
                        <button type="submit" class="button">رزرو</button>
                    </form>
                </div>
            {% else %}
                <div class="center">
                    <p>لطفا برای رزرو <a href="{% url 'login' %}">وارد </a>شوید.</p>
                </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}
