{% extends 'reservations/base.html' %}

{% block title %}Manage Role Requests{% endblock %}

{% block content %}
<h1>درخواست تغییر دسترسی</h1>
<ul>
    {% for user in users %}
            <p>کاربر: {{ user.username }} درخواست دسترسی میزبانی دارد.</p>
            <p>ایمیل: ({{ user.email }})</p>
            <form  class="center" method="post" style="display:inline;">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <button type="submit" name="action" value="approve">موافقت</button>
                <button type="submit" name="action" value="deny">لفو</button>
            </form>
    {% endfor %}
</ul>
{% endblock %}
